# Region Address Translation configuration options
#
# Copyright (c) 2023 Texas Instruments Incorporated
# Copyright (c) 2023 L Lakshmanan
# SPDX-License-Identifier: Apache-2.0

menuconfig REGION_ADDRESS_TRANSLATION
	bool "Region Address Translation (RAT) support"
	help
	  This option enables RAT support.

if REGION_ADDRESS_TRANSLATION

config TI_RAT
	bool "Texas Instruments RAT module"
	help
	  Enables RAT support functions specific to TI SoCs.

endif # REGION_ADDRESS_TRANSLATION